# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = guangxi.settings

[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = b69298c0330c494899cd3e3c3fe2441c
password =
project = 27032